.appointment__booking .logo{
    font-size: 35px;
    font-weight: 700;
    padding: 7px 0;
}
.appointment__booking .logo a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 102, 255);
    text-decoration: none;
}
.appointment__booking .logo svg{
    color: rgb(2, 255, 65);
    margin-left: 5px;
    font-size: 30px;

}
.appointment__booking .main{
    background: #dfdfdf;

}
.appointment__booking .container{

}
.appointment__booking .title{
    margin: 0 0 30px;
    font-size: 30px;
}
.appointment__booking .main label{
    display: block;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 20px;
}
.appointment__booking .main label .header{
    display: flex;
    letter-spacing: .6px;
}
.appointment__booking .main label .star{
    color: red;
    font-weight: 900;
    font-size: 20px;
    margin-right: 5px;
}
.appointment__booking .main label p{

}
.appointment__booking .main label input,.appointment__booking .main label select{
    outline: none;
    width: 100%;
    padding: 6px 15px;
    border-radius: 7px;
    border: none;
    background-color: #9db2c9;
    font-size: 18px;
}
.appointment__booking .main label input{

}
.appointment__booking .main label select{

}
.main .confirmBooking{
    color: white;
    background-color: rgb(0, 102, 255);
    padding: 10px 20px;
    font-size: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 1px solid rgb(0, 102, 255);
    transition: .2s linear;
    margin: 20px 0;
}
.main .confirmBooking:hover{
    background-color: transparent;
    color: #1A8EFD;
}
.booking__footer{
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    font-size: 22px;
    font-family: 'Rubik', sans-serif;
    text-align: center;
}
.error__msg{
    color: red;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
}
