.doctors{

}
.doctors .container{
    padding-bottom: 40px;
}
.title{
    width: fit-content;
    margin: auto;
}
.section__description{
    font-size: 19px;
    margin: 30px 0;
    color: rgb(77, 75, 75);
    font-weight: 500;
    line-height: 1.7rem;
    text-align: center;
}
.doctors__section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
#third{
    height: 200px;
    width: 180px;
}