*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 66px;
}
.scroll{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(0, 102, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 30px;
    transition: .2s ease-out;
    cursor: pointer;
    border: 2px solid white;
}
.scroll:hover{
    background-color: rgb(0, 82, 206);
    box-shadow: 0px 5px 10px rgb(102, 102, 102);
}
.scroll svg{
    color: white;
    font-size: 28px;
    margin-bottom: 2px;
}